$primary-color: #f92977;


@mixin list {
  margin-top: 48px;
  max-height: 100v;
}

@mixin list-row {
  display: flex;
  align-items: center;
}


.lean-right {
  margin-left: auto;
}

.titlebar {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 412px;
  display: flex;
  align-items: center;
  background-color: $primary-color;
  color: white;
}

.back {
  transform: rotateZ(180deg);
  display: flex;
  align-items: center;
  padding: 0 15px;
}
