@import './common.scss';


.app-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: $primary-color;
  height: 64px;
}


.holder {
  margin: 0 auto;
  width: 100%;
  max-width: 412px;
  display: flex;
  flex-direction: column;
}

.player {
  padding-top: 48px;
}

@media (min-width: 412px) {
  .player > .title {
    font-size: 1.1em;
  }
}

.podcast-image > img {
  width: 100%;
  vertical-align: bottom;
}

.seek_scrub, .volume {
  height: 48px;
  width: 100%;
  display: flex;
  border: solid 2px $primary-color;
  background-color: $primary-color;
  align-items: center;
}

.toggle-playing {
  padding: 0 15px;
}

.scrubber {
  -webkit-appearance: none;
  outline: none;
  width: 100%;
  background-color: $primary-color;
}

.scrubber::-webkit-slider-runnable-track {
  height: 8px;
  width: 100%;
  border-radius: 4px;
  background-color: white;
}

.scrubber::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #772443;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  margin-top: -6px;
}

.time {
  line-height: 48px;
  height: 100%;
  color: white;
  background-color: $primary-color;
  font-size: 20px;
  white-space: nowrap;
  padding: 0 5px 0 15px;
}

.seek {
  display: flex;
}

.seek > button {
  flex: 1 0 auto;
}

.nav {
  display: flex;
  background-color: $primary-color;
  border: solid 2px $primary-color;
  justify-content: space-around;
}

.nav > button {
  flex: 1 0 auto;
}

.nav > input {
  flex: 1 1 auto;
  text-align: center;
  font-size: 20px;
  max-width: 125px;
  border: 0;
  outline: 0;
}

.options {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}


.episodes, .bookmarks {
  margin-top: 48px;
  max-height: 100v;
}

.episode, .bookmark {
  display: flex;
  align-items: center;
}

.episode-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  min-width: 48px;
  background-color: $primary-color;
  font-weight: bold;
  color: white;
}

.episode-title, .bookmark-title {
  flex: 1 1 auto;
  padding: 0px 0 0px 6px;
}

.bookmark-title {
  font-size: 1.1em;
  font-weight: bold;
}
